---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}
<style>
  .t_text p {
    font-family: Arial;
    font-size: 16px; /* 기본 폰트 크기 */
  }

  /* 화면 너비가 768픽셀 이하일 때 적용될 스타일 */
  @media (max-width: 768px) {
    .t_text p {
      font-size: 14px; /* 모바일 기기에서의 폰트 크기 */
    }
  }
</style>

<div class="title_image">
  <div class="t_img">
    <img src="https://seunghyunhwnag.github.io/assets/images/sjw.jpg">
  </div>
  <div class="t_text">
    <p>SHFG Open Source Portal</p>
  </div>
</div>

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>

