.title_image {
  max-width: 100%;
  height: 380px;      //height 380 일시에 너비 1520, 높이 1140 정도의 4:3 비율의 이미지 필요
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  position:relative;
  overflow:hidden;                //넘치는 부분은 자름
}
.t_img {
  object-fit: cover;
  width: 100%;
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%,50%); 
  -ms-transform: translate(50%,50%); 
  transform: translate(50%,50%);
}

.title_image .t_img img{
  object-fit: cover;
  position: absolute; 
  top: 0; 
  left: 0;
  max-width: 100%; 
  height: auto; 
  -webkit-transform: translate(-50%,-50%); 
  -ms-transform: translate(-50%,-50%); 
  transform: translate(-50%,-50%);
}

.t_text {
  width: auto;
  height: auto;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate( -50%, -50% ); //위치이동, 왼쪽 50%이동, 위쪽 50%이동, -는 왼쪽, +는 오른쪽, -는 위쪽 +는 밑에쪽
}